
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    height: 500vh;
}

.container{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    width: 100%;
    padding: 35px 4%; /*ajusta o a navbar*/
    position: fixed;
    top: 0;
    left: 0;
    transition: 1s;
}

header.rolagem{
    background-color: white;
    padding: 20px 4%;
}

img{
   width: 65px;
   height: 65px;
}

header ul{
    list-style-type: none;
}

/*colocou um do lado do outro*/
header ul li{
    display: inline-block;
    margin: 0 40px;
}

header ul li a{
    color: black;
    text-decoration: none;
    font-weight: 500;
}

header ul li a:hover{
    color: #e6b6a64f;
}


.btn-contato button{
    width: 120px;
    height: 40px;
    border: 0;
    background-color:#E6B6A6;
    border-radius: 25px;
    color: black;
    cursor: pointer;
    transition: .2s;
}

.btn-contato button:hover{
    background: #e6b6a64f;
}
.banner{
    height: 100vh;
    background-image: url(img/chihiro043.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}


.banner h1{
    font-size: 11vh;
    font-weight: 200;
    
    
}

.banner h1 span{
    color:#000;
}
